.nav {
    position: fixed;
    height: 10rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    max-width:1500px;
    &-left {
        margin-left:5rem;
    }
    &-right {
        margin-right:5rem;
        &-flex {
            display: flex;
            justify-content: space-between;
        }
    }
    &-header {
        font-family: $font-header;
        font-size: 3.5rem;
        font-weight: 600;
        &-sub {
            font-size: 1.6rem;
        }
    }
    &-sub {
        font-size: 1.6rem;
        margin: 0 2rem;
    }
}