.hover:hover {
    cursor: pointer;
}
a,
a:hover {
    color: $black;
    text-decoration: none;
}
.hover:hover {
    color: #999;
}

.sub-header {
    font-size: 20px;
    font-family: $font-header;
    font-weight:600;
}

